/* Loading */
.loading {
  display: flex;
  justify-content: center;
  min-height: 100px;
}


/* Header */
header {
  background-color: #02352d;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

header > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.header-logo {
  height: 60px;
}

.header-user {
  align-items: center;
  color: white;
  display: flex;
  margin-top: 15px;
}

header .profile-image {
  height: 30px;
  margin-right: 10px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-nav a {
  color: white;
  font-family: Courier New , Courier , monospace;
  font-weight: 800;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.header-nav .selected {
  background-color: white;
  color: #02352d;
}


/* Album Cover */
.album-cover {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  flex-basis: 30%;
  height: 300px;
  margin: 10px;
  text-decoration: none;
}

.album-cover > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.album-cover p {
  font-family: sans-serif;
  margin: 10px;
}

.page-profile-edit p, .page-profile-edit input {
  width: 100%;
}

.page-profile-edit p {
  margin: 8px;
}

.page-favorites > div > p, .album-musics > div > p {
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.album-cover p:nth-of-type( 1 ) {
  font-size: 18px;
}

.album-cover p:nth-of-type( 2 ) {
  color: rgb(73, 73, 73);
  font-size: 14px;
  margin-bottom: 50px;
}

.album-cover img {
  align-self: center;
  height: 150px;
  object-fit: cover;
  width: 100%;
}


/* Login */
.page-login {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.login-form {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 2px 2px grey;
  display: flex;
  flex-flow: column wrap;
  padding: 40px 80px;
  position: relative;
}

.logo {
  margin: 50px;
}

.login-form input {
  border: 1px solid rgb(202, 202, 202);
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px 200px 10px 7px;
}

.login-form button {
  background-color: #00954f;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  padding: 10px 200px;
  width: 100%;
}


/* Search */
.page-search {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.search-form {
  align-items: center;
  background-color: rgb(250, 255, 250);
  border: 2px solid rgb(0, 202, 17);
  border-radius: 3px;
  box-shadow: 5px 4px 4px rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 50px;
}

.search-form > * {
  margin: 10px 0;
}

.search-form input {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 400px 8px 6px;
}

.search-form > button {
  font-size: 16px;
  padding: 5px 200px;
  width: 100%;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Album */
.page-album {
  display: flex;
  justify-content: space-around;
}

.page-album > .album-cover {
  align-self: center;
}

.album-musics {
  max-height: 60vh;
  overflow-y: scroll;
}

.album-musics > div {
  border-bottom: 1px solid black;
  padding: 15px;
}

.page-favorites > div, .album-musics > div {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.page-favorites > div > *, .album-musics > div > * {
  margin: 0 10px;
}

.profile-info > div {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.page-profile-edit form > div {
  align-items: center;
  display: flex;
}

.album-musics > div:last-of-type {
  border-bottom: 0;
}


/* Favorites */
.page-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-favorites > div:last-of-type {
  border-bottom: 0;
}


/* Profile */
.page-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 600;
}

.page-profile button {
  background-color: white;
  border: 1px solid #006923;
  border-radius: 3px;
  margin-left: 80px;
  padding: 5px 20px;
}

.page-profile a {
  color: #00954f;
  font-weight: 600;
  text-decoration: none;
}

.profile-small {
  color: rgb(73, 73, 73);
  font-size: smaller;
  margin-bottom: 30px;
}

.profile-info .profile-image {
  height: 50px;
  width: 50px;
}

.page-profile-edit {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-profile-edit form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-profile-edit .profile-image {
  height: 50px;
  margin-right: 60px;
  width: 50px;
}

.page-profile-edit button {
  background-color: #00954f;
  border: 0;
  border-radius: 3px;
  color: white;
  margin-top: 15px;
  padding: 5px;
  width: 70%;
}

.favorite-input {
  display: none;
}

.favorite-icon, .favorited-icon {
  height: 30px;
  width: 30px;
}

.favorited-icon {
  color: red;
}
