/* Color Palette */
/*
Aqua: #01FBFB
Orange Web: #FFA500
Little Boy Blue: #7AA0E3
Alice Blue: #E2EFFF
Honey Dew: #EBFFEC
Ghost White: #F8F8FF
Bootstrap Secondary Color: #6C757D
*/

/* General */

body {
  font-family: Roboto, sans-serif;
}

body a {
  text-decoration: none;
  color: #0A66C2;
}

ol, ul {
  padding-left: 1rem;
}

/* https://stackoverflow.com/questions/1418838/html-making-a-link-lead-to-the-anchor-centered-in-the-middle-of-the-page */
.anchor {
  position: absolute;
  transform: translateY(-20vh);
  visibility: hidden;
}

/* Hidden Outliner Heading Elements */

.navbar h2,
#profile-section > h2,
#lists-article > h2,
#profile-section article > h3,
footer h3 {
  display: none;
}

/* Header */

#video-container {
  position: relative;
  overflow: hidden;
  margin-top: 12vh;
  transition: 0.5s;
}

#video-container video {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  top: -8vh;
  width: 100%;
  max-height: 30vh;
  transition: 0.5s;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.45);
  transition: 1s;
}

.navbar-brand em {
  color: #C9C9C9;
}

.navbar-toggler {
  border: none ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

/* Color: aqua is only applied when navbar is collapsed */
[class="navbar-toggler"]:focus {
  color: #01FBFB;
}

h1 {
  color: #01FBFB;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #FFA500;
  font-style: italic;
}

/* Content */

main,
footer {
  background-color: #F8F8FF;
  padding: 15px;
}

#about-article {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
}

#about-article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1000px;
}

#about-article img {
  align-self: center;
  width: 70%;
  height: 30%;
  margin-top: 3vh;
  max-width: 300px;
  border-radius: 100%;
  transition: 0.5s;
}

.about-article-text {
  color: #606060;
  text-align: justify;
  padding: 15px;
}

.page-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-switch {
  align-self: center;
  padding-right: 20px;
}

.form-check-input {
  background-color: #FFFF;
  border-width: 2px;
}

.form-check-input:checked {
  background-color: #6C757D;
  border-color: #6C757D;
}

.form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  border-color: #6C757D;
}

.btn-group {
  align-self: flex-end;
}

#lists-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#lists-article section {
  padding: 1% 5%;
  line-height: 30px;
}

.exp-section {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.exp-section img {
  height: 36px;
  width: 36px;
  border-radius: 20%;
}

.exp-section h3 a{
  color: #212529;
  text-align: start;
}

.exp-section h3 em {
  color: #808080;
  font-weight: 700;
}

.exp-section article {
  padding: 30px;
  border-radius: 1%;
  line-height: 1.65;
}

.exp-section article:nth-of-type(odd) {
  background-color: #E2EFFF;
}

.exp-section article:nth-of-type(even) {
  background-color: #EBFFEC;
}

/* Footer */

.footer-title {
  margin-bottom: 30px;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1000px;
}

footer h2 {
  flex-basis: 100%;
}

footer div {
  margin-right: 20px;
  margin-bottom: 15px;
}

footer a {
  display: flex;
}

footer a i {
  padding-right: 5px;
}


@media screen and (min-width: 600px) {

  /* Header */
  
  #video-container video {
    top: -8vh;
    max-height: 30vh;
  }
  
  /* Content */

  #lists-article {
    flex-direction: row;
  }
  
  #about-article {
    flex-direction: row;
  }

  #about-article img {
    width: 30%;
  }

  .page-options {
    margin-top: 0;
  }

  /* Footer */
  footer nav {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
  /* Header */
  
  #video-container {
    margin-top: 15vh;
  }
  
  #video-container video {
    top: -20vh;
    max-height: 50%;
  }

  /* Content */

  #lists-article section {
    padding: 0 5%;
  }
  
}

@media screen and (min-width: 1366px) {

  /* Content */

  .exp-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .exp-section h2 {
    flex: 100%;
    margin-bottom: 40px;
  }
  
  .exp-section article {
    flex: 48%;
    margin-bottom: 40px;
  }

  #trybe-article,
  #renovare-article {
    margin-right: 2%;
  }
  
}

@media screen and (min-width: 1920px) {
  
  /* Content */
  
  #profile-section {
    display: flex;
    justify-content: space-evenly;
  }

  #lists-article {
    padding-top: 20px;
  }

  #about-article img {
    height: 300px;
  }
}