/*
Hide Spin button from input type number
https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
[ type = 'number' ] {
  appearance: textfield;
}

.root {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

h1 {
  align-self: stretch;
  background-color: #30c08b;
  color: whitesmoke;
  flex-basis: 6%;
  margin: 0;
  padding: 10px;
  text-align: center;
}

section {
  align-self: stretch;
  display: flex;
}

form {
  background-color: #fbfbfa;
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  padding: 20px 50px 0;
  padding-bottom: 10px;
}

form label {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 5px 0;
  position: relative;
  vertical-align: middle;
}

form label span {
  justify-self: center;
}

form label input, form label textarea, form label select {
  margin: 5px 0;
  padding: 0;
}

.name-input, .description-input, .rare-input {
  flex-basis: 100%;
}

.attr-input, .image-input {
  flex-basis: 81%;
}

.attr-input-span, .image-input-span {
  flex-basis: 18%;
  margin-top: 5px;
}

.measurementUnit {
  bottom: 7px;
  color: grey;
  font-size: 13px;
  position: absolute;
  right: 8px;
}

.trunfo-input-span {
  padding-left: 5px;
}

.card-preview {
  align-items: center;
  background-color: #023130;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.card-preview h2 {
  color: white;
}

.card {
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 13px 8px 8px;
  height: 300px;
  outline: 5px solid white;
  position: relative;
  width: 200px;
}

.card div {
  padding: 0 5px;
}

.card-name {
  color: white;
  font-size: 14px;
  height: 18.2px;
  margin-top: 0;
  padding: 8px 5px 5px;
  text-align: center;
}

.card-image {
  height: 100px;
  object-fit: cover;
  width: 100%;
}

.card-description {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 10px;
  height: 40px;
  margin: 3px 0;
  padding: 2px 5px;
  text-align: justify;
}

.card-attr {
  display: block;
  font-size: 15px;
  line-height: 1.5;
}

.card-rare {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.trunfo-logo {
  bottom: 40px;
  height: 60px;
  position: absolute;
  right: 10px;
}

.card-muito-raro {
  border-color: #d80000;
}

.card-name-muito-raro {
  background-color: #820303;
}

.card-description-muito-raro {
  background-color: #f40505;
}

.card-raro {
  border-color: #d68100;
}

.card-name-raro {
  background-color: #754c0c;
}

.card-description-raro {
  background-color: #f49501;
}

.card-normal {
  border-color: #036a53;
}

.card-name-normal {
  background-color: #023130;
}

.card-description-normal {
  background-color: #30c08b;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.filters {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
}

.filters > * {
  display: block;
  margin-bottom: 20px;
}

.Card-list {
  align-items: center;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.Card-list h2 {
  border-bottom: 1px solid black;
  flex-basis: 100%;
  padding-bottom: 15px;
  text-align: center;
}

.Card-list > div {
  margin: 0 20px 20px;
  position: relative;
}

.delete-button {
  border-radius: 5px;
  color: red;
  font-weight: 800;
  opacity: 1;
  position: absolute;
  right: 6px;
  top: 8px;
}

.game-bg {
  background-color: #023031;
}

.Game {
  align-items: center;
  align-self: stretch;
  background-color: #023031;
  display: flex;
  flex-basis: 94%;
  flex-flow: column wrap;
  justify-self: stretch;
}

.Game > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Game > div > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}

.dummy-card {
  border-radius: 5px;
  display: block;
  height: 321px;
  outline: 5px solid white;
  width: 216px;
}

/*
Remove button stylization
https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit
*/

.next-card-button, .remaining-cards-span {
  color: white;
  margin-top: 20px;
}

.next-card-button {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.next-card-button:disabled {
  border-color: grey;
  color: grey;
  cursor: auto;
}

.restart-game-button {
  background-color: #023be4;
  border: 0;
  border-radius: 2px;
  color: white;
  padding: 10px 50px;
}
