.projectsSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/images/background/projects-background.png');
  background-attachment: fixed;
  min-height: 100vh;
}

.projectsSection h1 {
  font-size: 3em;
  color: white;
}