.wallet {
  align-self: flex-start;
  width: 100%;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.wallet-div {
  display: flex;
  flex-direction: column;
}

.wallet-form {
  background-color: rgb(88, 88, 88);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  margin: 30px 50px 0;
  min-width: 845px;
  padding: 10px;
  text-align: center;
}

.wallet-form input , .wallet-form select {
  border: 0;
  border-radius: 3px;
  margin: 10px;
}

.wallet-form button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 5px;
}

.wallet-table {
  margin: 0 50px;
  min-width: 850px;
}

.wallet-table th , .wallet-table td {
  background-color: white;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.wallet-table tr:nth-child( even ) {
  background-color: #ddd;
}

.wallet-table tr > td:last-of-type , .wallet-table tr > td:last-of-type svg {
  padding: 0 2px;
  text-align: center;
}
