.categories {
  max-width: 250px;
}

.form-main {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 700px;
}

.btn-search {
  margin: 10px;
  width: 100px;
}

.cart {
  height: 50px;
  width: 50px;
}
